@import "tailwindcss";

@theme {
  --animate-wave: wave 20s infinite linear;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Base reset to ensure Tailwind works on everything */
@layer base {
  body {
    @apply bg-[#030303] text-zinc-100;
  }
}